{% extends 'base.html' %}

{% block title %} Blog TI {% endblock %}

{% block main %}

    <div class="container">
        <div id="list-example" class="list-group pt-2">
            {% for post in posts %}
                <div class="jumbotron p-3 p-md-5 rounded .bg-light">
                    <h2>
                        <a class="list-group-item-action" href="{% url 'post_show' post.id %}">
                            <h4>{{ post.titulo }}</h4><h5>{{ post.subtitulo }}</h5></a>
                    </h2>
                    <p>{{ post.conteudo|truncatewords:50 }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
